#wATPMLogoRed{
	position:absolute;
	left:846px;
	top:479px;
	width:418px;
	height:312px;
}

#wATPMLogoGrey{
	position:absolute;
	left:1721px;
	top:479px;
	width:418px;
	height:312px;
}

#wATPMLogoBlack{
	position:absolute;
	left:1283px;
	top:479px;
	width:418px;
	height:312px;
}

#wATPMLogoBannerRed{
	position:absolute;
	left:248px;
	top:22px;
	width:152px;
	height:114px;
}

